.center-container
{
    text-align: center;
}

.theLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

body
{
    background-repeat:no-repeat;

    /* background-image: url("depend/img/backgroundV0.png"); */
}